.ant-table-thead > tr > th {
  background: #66adb0;
  color: #fff;
  font-weight: bold;
}

.ant-table-tbody > tr > td {
  height: 60px;
}

tr {
  background: #fff;
}

/*Sortertable*/
.ant-table-thead > tr > th.ant-table-column-sort {
  background: #66adb0;
}

.ant-table-thead > tr > th.ant-table-column-has-actions.ant-table-column-has-sorters:hover {
  background: #66adb0;
}

/*Sorter icon*/
.ant-table-thead > tr > th .ant-table-column-sorter .ant-table-column-sorter-inner {
  color: #fff;
}
/*End of Sorter table*/

/*Filter table*/
/*Filter icon*/
.ant-table-thead > tr > th .anticon-filter,
.ant-table-thead > tr > th .ant-table-filter-icon {
  color: #fff;
}

.ant-table-thead > tr > th.ant-table-column-has-actions.ant-table-column-has-filters:hover .anticon-filter:hover,
.ant-table-thead
  > tr
  > th.ant-table-column-has-actions.ant-table-column-has-filters:hover
  .ant-table-filter-icon:hover {
  background: #66adb0;
  color: #fff;
}

.ant-table-thead
  > tr
  > th.ant-table-column-has-actions.ant-table-column-has-filters
  .anticon-filter.ant-table-filter-open,
.ant-table-thead
  > tr
  > th.ant-table-column-has-actions.ant-table-column-has-filters
  .ant-table-filter-icon.ant-table-filter-open {
  background: #66adb0;
  color: #fff;
}
/*End of Filter table*/

/* tr:nth-child(odd) {
  background: #fff;
}

tr:nth-child(even) {
  background: #edf1f2;
} */
