.Error__title {
  text-align: left;
}

.Error__title--main {
  font-weight: bold;
  margin: 0;
  color: #666;
}

.Error__title--sub {
  font-size: 14px;
  font-weight: 400; 
  line-height: 1.3; 
  margin-bottom: 0,;
  color: #999;
}

/*Ant error result*/
.ant-result-error {
  display: flex;
  align-items: center;
  width: 500px;
  margin: 0 auto;
}

.ant-result-title {
  font-weight: bold;
}

.ant-result-icon {
  margin: 0;
}

.anticon-close-circle svg {
  fill: #dd7575;
  width: 50px;
  margin: 0 20px 0 0;
}
