.FormContainer {
  width: 510px;
  background: #fff;
  margin: 60px auto;
}

.FormContainer__header {
  padding: 10px;
  background: #66adb0;
}

.FormContainer__header--text {
  color: #fff;
  font-size: 24px;
  margin: 0;
  font-weight: bold;
}

.FormContainer__form {
  width: 295px;
  text-align: left;
  margin: auto;
  padding: 30px 0;
}
