.Oms {
  width: 1366px;
  margin: 0 auto;
}

.Oms__sider {
  background: #2e6f84;
  height: 100vh;
}

.sider__top {
  height: 90px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  display: flex;
}

.sider__top--link {
  color: #fff;
  font-size: 26px;
  font-weight: bold;
  margin: auto;
}

.sider__bottom {
  height: calc(100vh - 115px);
  display: flex;
}

.sider__nav {
  list-style: none;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  margin: auto;
}

.sider__nav--link {
  margin-bottom: 10px;
  cursor: pointer;
}

.sider__nav--icon {
  width: 26px;
  margin-right: 10px;
}

.sider__version {
  list-style: none;
  color: #ccc;
  font-size: 12px;
  text-align: center;
}

.Oms__header {
  background: #66adb0;
  text-align: right;
  height: 90px;
  display: flex;
  align-items: center;
  line-height: 0.9;
}

.header__container {
  margin-left: auto;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.header__shoppincart,
.header__ntf {
  margin-left: 20px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.shoppincart--badge,
.ntf--badge {
  width: 25px;
  height: 25px;
  background: #fff;
  position: absolute;
  top: -15px;
  right: -10px;
  text-align: center;
  color: #dd7575;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.shoppincart--num,
.ntf--num {
  font-size: 12px;
}

.logout-icon {
  width: 20px;
  margin-left: 5px;
}

.Oms__content {
  background: #f6f7f9;
  height: calc(100vh - 90px);
  overflow-y: scroll;
}

/* Spinner */
.spinner {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: rotating 2s infinite;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
