.BestSeller__item {
  margin: 0 auto;
  width: 95%;
  text-align: left;
  font-weight: bold;
}

.BestSeller__item--arrow {
  margin-left: 10px;
  border: none;
  background: #e8e8e8;
  border-radius: 20px;
  width: 20px;
  height: 20px;
  opacity: 0.6;
  color: #999;
  font-weight: bold;
}
