.Inventory__search {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
}

.Inventory__search--result {
  display: flex;
  align-items: center;
  font-size: 14px;
  border: 2px solid rgb(46, 111, 132, 0.8);
  padding: 8px 16px;
  border-radius: 20px;
  color: rgb(46, 111, 132);
}

.Inventory__search--result-btn {
  border: none;
  height: 20px;
  width: 20px;
  padding: 5px;
  color: #fff;
  margin-left: 10px;
  cursor: pointer;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  line-height: 0px;
  font-size: 12px;
  opacity: 0.6;
}
.Inventory__search--result-btn:hover {
  opacity: 1;
}
