.LoginPage {
  width: 900px;
  height: 650px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
  text-align: left;
  display: flex;
}

.LoginPage__left {
  width: 35%;
  background: -webkit-linear-gradient(-45deg, #66adb0, #2e6f84);
  padding: 20px;
  display: flex;
  align-items: center;
}

.LoginPage__left--text {
  display: inline;
  font-size: 38px;
  font-weight: bold;
  color: #fff;
  line-height: 1.2;
  margin: 0;
}

.LoginPage__right {
  background: white;
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Ant disign form*/
.ant-form-item-label {
  line-height: 2;
}

label.ant-form-item-no-colon {
  color: #999;
  font-weight: bold;
}

.ant-input {
  margin: 0;
  height: 56px;
}
