.OrderDetail {
  width: 90%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

.OrderDetail__left {
  width: 580px;
}

/*Detail Card*/
.OrderDetail__card {
  text-align: left;
  background: #fff;
}

.OrderDetail__card--header {
  text-align: left;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  background: #66adb0;
}

.OrderDetail__card .card__info {
  padding: 20px;
  display: flex;
}

.OrderDetail__card .card__info--left {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 16px;
  color: #999;
}

.OrderDetail__card .card__info--right {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 16px;
  color: #333;
  margin-left: 40px;
}

.OrderDetail__card--divider {
  width: 100%;
  height: 3px;
  background: rgba(0, 0, 0, 0.2);
}

/*Order Table*/
.OrderDetail__table {
  padding: 20px;
  text-align: center;
}

.OrderDetail__table .table {
  width: 450px;
  margin: 0 auto;
}

.table--title {
  font-weight: bold;
  padding-bottom: 10px;
}

.table--title-left {
  text-align: left;
}

.table--title-right {
  text-align: right;
}

tr.table__item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 5px;
  background: white;
}

.table__item--text {
  padding: 5px 0;
  font-weight: 400;
}

.table__item--text-left {
  text-align: left;
}

.table__item--text-right {
  text-align: right;
}

.table--total,
.table--original-price {
  width: 450px;
  margin: 10px auto;
  text-align: right;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.table--original-price {
  text-decoration: line-through;
}

.table--price {
  color: #dd7575;
}

/*Order Status*/
.OrderDetail__status {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.OrderDetail__status--text {
  font-weight: bold;
  font-size: 16px;
  color: #999;
  margin: 0;
}

/*Message box*/
.OrderDetail__right {
  width: 370px;
  height: 676px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.OrderDetail__chatbox {
  width: 270px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 10px;
}

.OrderDetail__chatbox--right {
  text-align: right;
  margin-left: auto;
  background: #f6f7f9;
}

.OrderDetail__chatbox--left {
  text-align: left;
  margin-right: auto;
  background: #fff;
}

.OrderDetail__chatbox--messager {
  font-size: 12px;
  color: #999;
}

.OrderDetail__chatbox--message {
  text-align: left;
  white-space: pre-wrap;
}

.OrderDetail__chatbox--date {
  font-size: 10px;
  color: #999;
}
