.ShoppingCart {
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.ShoppingCart--header {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.ShoppingCart__container {
  display: flex;
  justify-content: space-between;
}

.ShoppingCart__table {
  width: 570px;
  margin: 0;
}

.ShoppingCart__table .table__head {
  background: transparent;
}

.ShoppingCart__table .table__head--left {
  font-weight: bold;
  padding-bottom: 10px;
  text-align: left;
}

.ShoppingCart__table .table__head--mid {
  font-weight: bold;
  padding-bottom: 10px;
}

.ShoppingCart__table .table__head--right {
  font-weight: bold;
  padding-bottom: 10px;
  text-align: right;
}

.ShoppingCart__table .table__body {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 5px;
  background: transparent;
}

.ShoppingCart__table .table__body--left {
  font-weight: 400;
  text-align: left;
  padding: 5px 0;
}

.ShoppingCart__table .table__body--mid {
  text-align: center;
  font-weight: 400;
  padding: 5px 0;
}

.ShoppingCart__table .table__body--right {
  text-align: right;
  font-weight: 400;
  padding: 5px 0;
}

.ShoppingCart__summary {
  width: 320px;
}

.summary__box {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  background: #fff;
  border-radius: 3px;
  margin-bottom: 20px;
}

.summary--header {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
}

.summary__info {
  display: flex;
  justify-content: space-between;
}

.summary__info--left {
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  color: #999;
}

.summary__info--left p {
  margin: 2px 0;
}

.summary__info--right {
  text-align: right;
  font-weight: bold;
  font-size: 16px;
}

.summary__info--right p {
  margin: 2px 0;
}

.summary__info--price {
  color: #dd7575;
}
