.TotalSales--title {
  font-weight: bold;
  color: #999;
  font-size: 18px;
  margin: 0;
}

.TotalSales--num {
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  margin: 36px 0;
}

.TotalSales--growth {
  font-size: 14px;
  margin-left: 5px;
}

.TotalSales--growth-desc {
  color: green;
}

.TotalSales--growth-asc {
  color: rgb(221, 117, 117);
}

.TotalSales--date {
  margin: 0;
  font-size: 12px;
  color: #999;
  text-align: right;
}
